<ion-view view-title="OATS">
    <ion-content>
        <div class="down2">
            <ul class="don_ul">
                <li ng-repeat="aOat in oat1">
                    <img class="aDon" src="{{aOat.imgsrc}}">
                    <p class="do_des">{{aOat.oat_name}}</p>
                </li>
            </ul>
            <ul class="don_ul">
                <li ng-repeat="aOat in oat2">
                    <img class="aDon" src="{{aOat.imgsrc}}">
                    <p class="do_des">{{aOat.oat_name}}</p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>