<ion-tabs class="tabs-icon-top" >
    <ion-tab title="REWARDS"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="clicks.rewards">  <!-- ui-sref为该tab跳转到的状态 -->
        <ion-nav-view name="click_rewards"></ion-nav-view>
    </ion-tab>
    <ion-tab title="OFFERS"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="clicks.offers">
        <ion-nav-view name="click_offers"></ion-nav-view>
    </ion-tab>
    <ion-tab title="GOODS"  icon-on="ion-ios-nutrition" icon-off="ion-ios-nutrition-outline" ui-sref="clicks.goods.donuts">
        <ion-nav-view name="click_goods"></ion-nav-view>
    </ion-tab>
    <ion-tab title="SHOPS"  icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="clicks.shops">
        <ion-nav-view name="click_shops"></ion-nav-view>
    </ion-tab>
    <ion-tab title="LOG IN"  icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="clicks.logs">
        <ion-nav-view name="click_logs"></ion-nav-view>
    </ion-tab>
</ion-tabs>