<ion-view view-title="REWARDS">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="box"><img src="images/bonus/15_off.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/3rd_visit.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/birthday_treats.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/family_birthday.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/free_dozen.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/free_mug.png"></div>
        </ion-slide>
        <ion-slide>
            <div class="box"><img src="images/bonus/weekday_special.png"></div>
        </ion-slide>
    </ion-slide-box>
    <a ui-sref="clicks.logs" class="join1">JOIN</a>
</ion-view>


