
<ion-view view-title="KRISPY KREME">
    <ion-content>
        <div id="bbg"><img src="images/bg1.jpg"></div>
            <ul id="whole">
                <a class="item item-icon-center bg3" ui-sref="clicks.rewards">
                    <i class="icon ion-star words"></i>
                    REWARDS
                </a>
                <a class="item item-icon-center bg2" ui-sref="clicks.offers">
                    <i class="icon ion-star words"></i>
                    SPECIAL OFFERS
                </a>
                <a class="item item-icon-center bg3" ui-sref="clicks.goods.donuts">
                    <i class="icon ion-ionic words"></i>
                    FOODS and DRINKS
                </a>
                <a class="item item-icon-center bg2" ui-sref="clicks.shops">
                    <i class="icon ion-home words"></i>
                    STORES
                </a>
                <a class="item item-icon-center bg3" ui-sref="clicks.logs">
                    <i class="icon ion-gear-b words"></i>
                    LOG IN
                </a>
            </ul>

    </ion-content>

</ion-view>